.section-name{
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  color: #47525E;
  font-family: Domine;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}

.section-separator{
  border: 1px solid #7E55F3;
  margin-left: 4%;
  margin-right: 4%;
}

.field{
  margin-top: 4%;
  margin-bottom: 4%;
}

.description{
  color: #8CA0B6;
  font-family: Glacial Indifference;
  font-size: 16px;
  line-height: 20px;
  width: 40%;
  text-align: left;
  margin-top: 4%;
  margin-bottom: 4%;
}

.button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box{
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  margin-right: 4%;
}

.element-box{
  display: flex;
  justify-items: stretch;
}

.category-tab-box{
  display: flex;
  justify-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
}

#.tag-box{
#  position: absolute;
#  top: 0;
#  bottom: 0;
#  margin: auto 0;
#  margin-left: 4%;
#  background-color: #7E55F3;
#  border-radius: 10px;
#  width: 100px;
#  height: 30px;
#  position: relative;
#}
#
#.tag-name{
#  margin: 0;
#  position: absolute;
#  top: 50%;
#  left: 50%;
#  margin-right: -50%;
#  transform: translate(-50%, -50%);
#  color: #FFFFFF;
#  font-family: Lato;
#  font-size: 14px;
#  text-align: center;
# }