header {
  display: flex;
  align-items: center;
  background-color: #E5E9F2;
  width: 100%;
  height: 74px;
}

.back-arrow{
  cursor: pointer;
  margin-left: 2%;
  width: 27px;
  height: 27px;
}

.header-btn-container{
  display: flex;
  text-align: center;
  margin-left: 20%;
}

.header-btn{
  color: #47525E;
  font-family: Lato;
  font-size: 18px;
  line-height: 62px;
  width: 79px;
  text-align: center;
}