.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.link-registration{
    text-decoration: none;
    color: #8492A6;
    padding: 0;
    margin:0;
}