div.login-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color:#F7FFFB;
    width: 470px;
    height: 250px;
    opacity: 0.75;
}

input.btn-join {
	color: #47525E;
	border-radius:  5px;
	font-size: 18pt;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 192px;
    height: 50px;
    background-color:#F7FFFB;
}