.search-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.admin-icon{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 2%;
}

.page-title {
  color: #000000;
  font-family: Domine;
  font-size: 18px;
  line-height: 28px;
  width: 620px;
  text-align: left;
}

.page-description {
  color: #47525E;
  font-family: Domine;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}

.label {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 400px;
  text-align: left;
  display: block;
}

.control-box {
  width: 191px;
  display:inline-block;
  margin-right: 1%;
  margin-top: 3%;
}

.field{
  margin-top: 2%;
  margin-bottom: 2%;
}

.table-box {
  background-color: #F7F7F7;
  height: 588px;
}

.table-container {
  #margin-left: 2%;
  #margin-right: 2%;
  #margin-bottom: 2%;

  margin-top: 2%;
}

td {
  color: #47525E;
  font-family: Domine;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}

.table-separator {
  border: 3px solid #8492A6;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.column-name-box {
  display: flex;
  justify-content: space-around;
  color: #47525E;
  font-family: Domine;
  font-size: 26px;
  line-height: 33px;
  text-align: left;

}
