.search-container {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.admin-icon{
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 2%;
}

.page-title {
  color: #000000;
  font-family: Domine;
  font-size: 18px;
  line-height: 28px;
  width: 620px;
  text-align: left;
}

.page-description {
  color: #47525E;
  font-family: Domine;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}

.label {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 400px;
  text-align: left;
  display: block;
}

.control-box {
  width: 191px;
  display:inline-block;
  margin-right: 1%;
  margin-top: 3%;
}

.field{
  margin-top: 2%;
  margin-bottom: 2%;
}

.table-box {
  background-color: #F7F7F7;
  height: 588px;
  margin-top: 2%;
}

.table-container {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
}

tr {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

td {
  color: #47525E;
  font-family: Domine;
  font-size: 26px;
  line-height: 33px;
  margin-left: 2%;
}

.table-separator {
  border: 3px solid #8492A6;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.column-name-box {
  display: flex;
  justify-content: space-between;
  color: #47525E;
  font-family: Domine;
  font-size: 26px;
  line-height: 33px;
  margin-right: 2%;
  margin-left: 2%;
}

.cell-title-name {
  margin-top: 2%;
  width: 60%;
}

.cell-title-category {
  margin-top: 2%;
  width: 20%;
}

.cell-title-availability {
  margin-top: 2%;
  width: 20%;
}

.name-cell {
  width: 60%;
}

.category-cell {
  width: 20%;
}

.available-cell {
  width: 20%;
}

.book-status-img {
  width: 31px;
  height: 40px;
}

.edit-book-img {
  width: 30px;
  height: 30px;
  margin-left: 25%;
  margin-bottom: 2%;
}

.remove-book-img {
  width: 30px;
  height: 30px;
  margin-left: 10%;
  margin-bottom: 2%;
  cursor: pointer;
}

.overlay {
   align-items: center;
   justify-content: center;
   display: flex;
   position:fixed;
   top:0;
   left:0;
   height:100%;
   width:100%;
   z-index:100;
   background-color:#444444;
   opacity:0.5;
   filter:alpha(opacity=50);
}

.dialog-box {
  opacity: 1;
  background-color: #F7FFFB;
  border-radius: 10px;
  width: 470px;
  height: 250px;
  z-index:101;
}

.dialog-title {
  color: #47525E;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.btn-dialog {
  background-color: #47525E;
  border-radius: 5px;
  width: 192px;
  height: 50px;
  margin-right: 3%;
  margin-left: 3%;
}

.dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}