<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Book Platform</title>
	<link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
	<link href="../static/css/contact.css" th:href="@{/css/contact.css}" rel="stylesheet" />
</head>
	<body>
	<div th:insert="header :: header">...</div>

	<div class="contact-box">

		<h4>1. You can search book by name and category</h4>
		<img src="..static/asset/about-1.png" th:src="@{asset/about-1.png}" class="contact-map"/>

		<h4>2. Using the availability icon, you can find out if there is a book in the library. <br>
			If the icon is red, then the book is from the reader, if it is green, then it can be taken.</h4>
		<img src="..static/asset/about-2.png" th:src="@{asset/about-2.png}" class="contact-map"/>

	</div>



	</body>
</html>