<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Book Platform</title>
	<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
	<body>
		<style th:inline="text">
			body{
			    background: url([[@{/asset/login-font.png}]])
			                no-repeat center center fixed;
			    background-position="fixed";
			    background-size: cover;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    overflow: auto;
			    overflow: hidden;
			}
		</style>
		<div class="row login-container">
			<form class="col s4 offset-s1">
				<div class="row card z-depth-5" style="padding: 3rem">
					<div class="row">
						<div class="col s12">
							<div class="input-field col s12">
								<input placeholder="Login" name="login" id="login" type="text" class="validate">
								<label for="login">Login</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div class="input-field col s12">
								<input placeholder="Password" name="password" id="password" type="password" class="validate">
								<label for="password">Password</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6 ">
							<div class="input-field col s12 left-align">
								<div>
									<a href="registration" class="link-registration">Registration</a>
								</div>
							</div>
						</div>
						<div class="col s6">
							<div class="input-field col s12 right-align">
								<a href="/search" class="waves-effect waves-light btn">Sign In</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>