<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Book Platform</title>
    <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>

<style th:inline="text">
			body{
			    background: url([[@{/asset/login-font.png}]])
			                no-repeat center center fixed;
			    background-position="fixed";
			    background-size: cover;
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			    overflow: auto;

			}  overflow: hidden;
		</style>

    <div class="row login-container">
        <form  class="col s12">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="row card z-depth-5" style="padding: 3rem">
                    <div>
                        <h3 class="center-align">Registration</h3>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12">
                                <input placeholder="First name" name="firstName" id="firstName" type="text" class="validate">
                                <label for="firstName">First name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12">
                                <input placeholder="Last name" name="lastName" id="lastName" type="text" class="validate">
                                <label for="lastName">Last name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12">
                                <input placeholder="Login" name="login" id="login" type="text" class="validate">
                                <label for="login">Login</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field col s12">
                                <input placeholder="Password" name="password" id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 ">
                            <div class="input-field col s12 left-align">
                                <div>
                                    <a style="cursor: pointer" href="/" class="link-registration">Sign In</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field col s12 right-align">
                                <a href="/" class="waves-effect waves-light btn grey">Create</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>