<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Book Platform</title>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"  rel = "stylesheet">
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
	<link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
	<link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/search.js}" src="../static/js/search.js"></script>
</head>
	<body>
	<div th:insert="header :: header">...</div>

		<div class="search-container">

			<div class="page-info-box">
				<div class="page-title">Book directory.</div>
				<div class="page-description">Welcome to the book management system, finding a book just got easier.</div>
			</div>

			<div class="filter-box">
				<div class="control-box">
					<label class="label" for="bookName">Book name</label>
					<input class="field" id="bookName" placeholder="Type name of book">
				</div>
				<div class="control-box">
					<label class="label" for="category-selector">Category</label>
					<select id="category-selector" class="drop-down">
						<option value="">All</option>
						<option>Detective fiction</option>
						<option>Fantasy</option>
						<option>Science fiction</option>
						<option>Dictionary</option>
					</select>
				</div>
				<input id="bookFilter" class="button" type="button" value="Filter"/>
			</div>

			<div class="table-box">

				<div class="column-name-box">
					<div class="cell-title-name">Name</div>
					<div class="cell-title-category">Category</div>
					<div class="cell-title-availability">Availability </div>
				</div>

				<div class="table-separator"></div>

				<table id="grid">
					<!--
					<tr>
						<td class="name-cell">First Book</td>
						<td class="category-cell">Fantasy</td>
						<td class="available-cell"></td>
					</tr>
					-->
				</table>

			</div>

		</div>

	<div id="myModal">IS WORK</div>



	</body>
</html>