<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Book Platform</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"  rel = "stylesheet">
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
	<link href="../static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet" />
	<link href="../static/css/search.css" th:href="@{/css/search.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/search.js}" src="../static/js/search.js"></script>
	<script type="text/javascript" th:src="@{/js/pace.min.js}" src="../static/js/pace.min.js"></script>
	<link href="../static/css/pace-theme-default.min.css" th:href="@{/css/pace-theme-default.min.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/header.js}" src="../static/js/header.js"></script>
</head>
	<body>
	<div th:insert="header :: header">...</div>

		<div class="search-container">

			<div id="initState"></div>

			<div class="page-info-box">
				<div class="page-title">Book directory.</div>
				<div class="page-description">Welcome to the book management system, finding a book just got easier.</div>
			</div>

			<div class="filter-box">
				<div class="control-box">
					<label class="label" for="bookName">Book name</label>
					<input class="field" id="bookName" placeholder="Type name of book">
				</div>
				<div class="control-box">
					<label class="label" for="category-selector">Category</label>
					<select id="category-selector" class="drop-down">
						<option value="">All</option>
						<option>Detective fiction</option>
						<option>Fantasy</option>
						<option>Science fiction</option>
						<option>Dictionary</option>
					</select>
				</div>
				<input id="bookFilter" class="button" type="button" value="Filter"/>
			</div>

			<div class="table-box">

				<div class="column-name-box">
					<div class="cell-title-name">Name</div>
					<div class="cell-title-category">Category</div>
					<div class="cell-title-availability">Availability </div>
				</div>

				<div class="table-separator">

					<div id="ele-overlay"></div>

					<div id="dialog-container">
						<dialog id="remove-dialog" class="dialog-box">
							<p class='dialog-title'>Do you want to delete the book?</p>
							<p class='dialog-btn-container'>
								<button type='button' id="btn-ok" class='btn-dialog'>OK</button>
								<button type='button' id="btn-cancel" class='btn-dialog'>CANCEL</button>
							</p>
						</dialog>

						<dialog id="remove-alert" class="dialog-box">
							<p class='dialog-title'>You cannot delete a book that has a user</p>
							<p class='dialog-btn-container'>
								<button type='button' id="btn-ok-second" class='btn-dialog'>OK</button>
							</p>
						</dialog>
					</div>

				</div>

				<table id="grid"></table>

			</div>

		</div>

	</body>
</html>